@model IEnumerable<Resep>
@{
    ViewData["NamaMakanan"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Katalog Resep Makanan Viral</strong></h1>
    <p><strong>Temukan berbagai macam resep viral disini</strong></a></p>
</div>

<table style="margin-left:20em"> 
        <thead>
            <tr>
                
                <td><span style="margin-right:20em" ><h2><strong>@Html.DisplayNameFor(model => model.NamaMakanan)</strong></h2></span></td>
                <td><span style="margin-right:20em"><h2><strong>@Html.DisplayNameFor(model => model.kategori)</strong></h2></span></td>
                <td><span style="margin-right:20em"><h2><strong>Action</strong></h2></span></td>                
               
            </tr>
        </thead>
        <tbody>
           @foreach (var item in Model)
           {
              <tr>
                  <td><span style="margin-right:5em"><h4>@Html.DisplayFor(modelItem => item.NamaMakanan)</h4></span></td>
                 <td><span style="margin-right:5em"><h4>@Html.DisplayFor(modelItem => item.kategori)</h4></span></td>
                 <td>
                    <span style="margin-right:5em"><a asp-controller="Resep" asp-action="Details" asp-route-id="@item.Id"><h6>Detail</h6></a>
                 </td>
                </tr>
           }
<body style="background-image: url('https://thumbs.dreamstime.com/z/italian-food-background-different-types-pasta-health-vegetarian-concept-top-view-copy-space-italian-food-114155664.jpg');" >

</body>
