@model MovieGenreViewModel
@{
    ViewData["NamaMakanan"] = "Home Page";
}

<div>
    <h1 class="display-4">Movie List</h1>
    <a asp-controller="Movies"asp-action="Create">Create New Movie</a>
    <form asp-controller="Movies" asp-action="Index" method="GET"> 
        <p>
            <div class="form-group">
            <select class="form-control" asp-for="MovieGenre" asp-items="Model.Genres">
                <option value="">All</option>
            </select>
            </div>
            Title: <input class="form-control" asp-for="searchString" name="searchString" type="text">
            <button class="btn btn-primary" type="submit">Filter</button>
        </p>
    </form>
    <table class="table"> 
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Movies[0].NamaMakanan)</th>
                <th>@Html.DisplayNameFor(model => model.Movies[0].Kategori)</th>
                <th>@Html.DisplayNameFor(model => model.Movies[0].Bahan)</th>
                <th>@Html.DisplayNameFor(model => model.Movies[0].Alat)</th>
                <th>@Html.DisplayNameFor(model => model.Movies[0].CaraPembuatan)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Movies)
            {
               <tr>
                   <td>@Html.DisplayFor(modelItem => item.NamaMakanan)</td>
                   <td>@Html.DisplayFor(modelItem => item.Kategori)</td>
                   <td>@Html.DisplayFor(modelItem => item.Bahan)</td>
                   <td>@Html.DisplayFor(modelItem => item.Alat)</td>
                   <td>@Html.DisplayFor(modelItem => item.CaraPembuatan)</td>
                   <td>
                       <a asp-controller="Movies"asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                       <a asp-controller="Movies"asp-action="Show" asp-route-id="@item.Id">Show</a> |
                       <a asp-controller="Movies"asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                   </td>
               </tr> 
            }
        </tbody>
    </table>
</div>